<!DOCTYPE HTML>
<html>

<head>

	<% include ./partials/head %>
</head>

<body>
	<!--start-main-->
	<% include ./partials/header %>

		<!--head-bottom-->

		<% include ./partials/navbar %>


			<!--head-bottom-->




			<!-- banner -->

			<div class="banner1">

			</div>

			<div class="container">
				<div class="col-md-9 ">

					<p class="blog-content">

					<h1 id = "mainTitle"><%= title %></h1>
					<% if(typeof intro != 'undefined') 
						intro.forEach(function(data) { %>
							<p class = "sub-paragraph"><%= data %></p>
						<% }) %>
					 <% article.forEach(function(content) { %>
						<p class = "sub-heading first-heading"><%= content.heading %></p>
						<% content.paragraph.forEach(function(para) { %>
							<p class = "sub-paragraph"><%= para %></p>
						<% }); %>

					 <% }); %>
					</p>
					<br/>
					<h3>Hire cab for <%= title %> at Minimum cost.</h3>
					</p>

					<div class="blog-poast-info">
						<ul>
							<li>
								<i class="glyphicon glyphicon-user"> </i>
								<a class="admin" href="#"> 4500+ pickups </a>
							</li>
							<li>
								<i class="glyphicon glyphicon-calendar"> </i>We will wait for you</li>
							<li>
								<i class="glyphicon glyphicon-comment"> </i>
								<a class="p-blog" href="#">Fastest Cab in Varanasi</a>
							</li>
							<li>
								<i class="glyphicon glyphicon-heart"> </i>
								<a class="admin" href="#">5 favourites </a>
							</li>
							<li>
								<i class="glyphicon glyphicon-eye-open"> </i>1.128k views</li>
						</ul>
					</div>

				</div>
			</div>




			<!-- technology -->
			<!-- footer -->
			<% include ./partials/footer %>
			<!-- footer -->
			<!-- footer-bottom -->
			<% include ./partials/footer-nav %>
			<!-- footer-bottom -->
			<% include ./partials/copyright %>


</body>

</html>